.jumbotron {
  background-color: #46A07E;
  text-align: center;
}

body {
  background-image: url(../img/ping.jpg);
  min-height:100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#list {
  color: red;
  font-weight: bold;
}
